@{
    ViewData["Title"] = "Newsletter Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Cod.Models.Newsletter

@using System.Security.Claims

<h2>Sign up for our Newsletter!</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    <input type="submit" value="Log in" class="btn btn-default" />
}
@if(User.Identity.IsAuthenticated)
{
    <h4>Admin Only</h4>
<hr/>
    <p>@Html.ActionLink("Current Mailing List", "MailingList", "Account")</p>
}